*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #000000;
    color: white;
    overflow-x: hidden;
    min-width: 280px;
} 

img {
    width: 100%;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: #FF5C00;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper {
   display: grid; 
   grid-template-columns: 340px 530px 150px;
   grid-gap: 40px;
   padding-top: 80px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 42px;
}

.subtitle {
    margin-bottom: 10px;
    opacity: 0.4;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}

.description {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.btn {
    background-color: #FF5C00;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 100px;
    color: white !important;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: #ff3d00;
    color: white;
}

.params {
    margin-bottom: 40px;
    list-style-type: none;
}

.params li {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 30px;
    width: 100%;
    font-size: 14px;
}

.tag {
    font-size: 12px;
    font-weight: 400px;
    padding: 3px 5px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-top: -3px;
}

.text-muted {
    opacity: 0.4;
}

.rathing-main {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #44C916;
}

.rathing-counts {
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    opacity: 0.4;
}

.rathing-details {
    display: inline-block;
}

.mb-0 {
    margin-bottom: 40px;
    padding-top: 30px;
}

.bton {
    background-color: #9a42dc;
    padding: 10px 30px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 100px;
    color: white !important;
    transition: all 200ms ease-in-out;
}

.bton:hover {
    background-color: #6b4ef2;
    color: white;
}